:root {
  --spotify-green: #3cd37a;
  --spotify-bg: #282c34;
  background-color: var(--spotify-bg);
  color: var(--spotify-green);
}

body {
  margin: 0;
  font-family: Circular, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
